.wrap {
  position: relative;
}

.wrap .header-container-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.wrap .header-container-action .headline h1 {
  color: #795548;
  font-weight: bold;
  line-height: 1;
  padding-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
}

.wrap .header-container-action .header-action-item button {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
  background: #04aa6d;
  padding: 10px 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.wrap .mht-price-list {
  background-color: #fff;
  max-height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
}

.wrap .mht-price-list .mht-plist-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.wrap .mht-price-list .mht-plist-row:nth-child(2n) {
  background-color: #f8f8f8;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 600px;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item.tire-manufacturer, .wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item.tire-cost {
  max-width: 150px;
  min-width: 150px;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings div {
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-name {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-quentatty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: none;
}

.wrap .mht-price-list .mht-plist-row .plist-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .mht-price-list .mht-plist-row .tire-size {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ddd;
  max-width: 200px;
  min-width: 200px;
}

.wrap .mht-price-list .mht-plist-row .tire-size h3 {
  color: #795548;
  font-size: 22px;
}

.wrap .mht-price-list .mht-plist-row .tire-manufacturer {
  max-width: 150px;
  min-width: 150px;
}

.wrap .mht-price-list .mht-plist-row .tire-cost {
  max-width: 150px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .mht-price-list .mht-plist-row .tire-cost .cost-input-container span.dolar {
  font-weight: bold;
}

.wrap .mht-price-list .mht-plist-row .tire-cost .cost-input-container input {
  max-width: 120px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item {
  border-right: 1px solid #ddd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item.tire-manufacturer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
  clear: both;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name a {
  display: inline-block;
  padding-left: 10px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail:last-child {
  border-left: 1px solid #ccc;
}

@media screen and (max-width: 1600px) {
  .wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail {
    width: 100%;
  }
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item .item-lavel {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item .item-lavel p {
  padding: 0;
  margin: 0;
  padding-left: 10px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item .item-amount {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item .item-amount p {
  padding: 0;
  margin: 0;
  display: inline-block;
  float: right;
  padding-right: 10px;
  font-weight: bolder;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item.profit {
  background-color: #795548;
  color: #fff;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-detail .product-detail-item.profit p {
  font-weight: bolder;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item .tire-set-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ccc;
  height: auto;
  width: 600px;
}

.wrap .mht-price-list .mht-plist-row.plist-header {
  border-bottom: 1px solid #ddd;
}
/*# sourceMappingURL=mht-plist.css.map */