.mht-price-list {
  background-color: #fff;
  width: 100%;
}

.mht-price-list .mht-plist-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.mht-price-list .mht-plist-row:nth-child(2n) {
  background-color: #f8f8f8;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings div {
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 10px;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-name {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings .product-quentatty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: none;
}

.mht-price-list .mht-plist-row .plist-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mht-price-list .mht-plist-row .tire-size {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ddd;
}

.mht-price-list .mht-plist-row .tire-detail-container {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item {
  border-right: 1px solid #ddd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item.tire-manufacturer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  border-bottom: 1px solid #ccc;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container div {
  border-right: 1px solid #ccc;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name a {
  text-decoration: none;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-quentatty {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: none;
}

.mht-price-list .mht-plist-row .tire-detail-container .brand-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item .tire-set-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ccc;
  height: auto;
}

.mht-price-list .mht-plist-row.plist-header {
  border-bottom: 1px solid #ddd;
}
/*# sourceMappingURL=mht-plist.css.map */