.wrap {
  position: relative;
}

.wrap .header-container-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  background-color: #eaeaea;
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
  padding: 10px 40px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.wrap .header-container-action .headline h1 {
  color: #795548;
  font-weight: bold;
  line-height: 1;
  padding-top: 0px;
  font-size: 20px;
  text-transform: uppercase;
}

.wrap .header-container-action .header-action-item button {
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: white;
  background: #04aa6d;
  padding: 10px 40px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.wrap .mht-price-list {
  background-color: #fff;
  max-height: 90vh;
  overflow-x: auto;
  overflow-y: auto;
}

.wrap .mht-price-list .mht-plist-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ddd;
}

.wrap .mht-price-list .mht-plist-row:nth-child(2n) {
  background-color: #f8f8f8;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 600px;
  width: 600px;
  max-width: 600px;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item.tire-manufacturer, .wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item.tire-cost {
  max-width: 150px;
  min-width: 150px;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings {
  background: #000;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap .mht-price-list .mht-plist-row.plist-header .plist-row-item .tire-set-item .pdetail-headings div {
  border-right: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-size: 12px;
}

.wrap .mht-price-list .mht-plist-row .plist-row-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .mht-price-list .mht-plist-row .tire-size {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-right: 1px solid #ddd;
  max-width: 200px;
  min-width: 200px;
}

.wrap .mht-price-list .mht-plist-row .tire-size h3 {
  color: #795548;
  font-size: 22px;
}

.wrap .mht-price-list .mht-plist-row .tire-manufacturer {
  max-width: 150px;
  min-width: 150px;
}

.wrap .mht-price-list .mht-plist-row .tire-cost {
  max-width: 150px;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrap .mht-price-list .mht-plist-row .tire-cost .cost-input-container span.dolar {
  font-weight: bold;
}

.wrap .mht-price-list .mht-plist-row .tire-cost .cost-input-container input {
  max-width: 120px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item {
  border-right: 1px solid #ddd;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item.tire-manufacturer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ddd;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container.pdetail-headings {
  padding: 0;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container:last-child {
  border-bottom: none;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container > div {
  width: 66px;
  min-width: 66px;
  max-width: 66px;
  text-align: center;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  font-size: 12px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container > div:last-child {
  border-right: none;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container > div:last-child .label {
  border-right: 1px solid #ddd;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container > div .label {
  padding-bottom: 5px;
  border-bottom: 1px solid #ddd;
  background: #eee;
  margin-top: -10px;
  padding-top: 5px;
  font-weight: bold;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container > div .value {
  padding-top: 12px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name {
  min-width: 200px;
  max-width: 200px;
  width: 200px;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .tire-set-item .product-detail-container .product-name a {
  display: inline-block;
  text-align: center;
  font-size: 13px;
  padding-top: 6px;
  text-decoration: none;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #ccc;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.wrap .mht-price-list .mht-plist-row .tire-detail-container .brand-items .brand-item .tire-set-item {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ccc;
  height: auto;
  width: 600px;
}

.wrap .mht-price-list .mht-plist-row.plist-header {
  border-bottom: 1px solid #ddd;
}
/*# sourceMappingURL=mht-plist.css.map */