@import "./bootstrap-scss/bootstrap.scss";

$small: 1600px;
.wrap {
  position: relative;

  .header-container-action {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #eaeaea;
    position: sticky;
    top: 32px;
    padding: 10px 40px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);

    .headline {
      h1 {
        color: #795548;
        font-weight: bold;
        line-height: 1;
        padding-top: 0px;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    .header-action-item {
      button {
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        color: white;
        background: #04aa6d;
        padding: 10px 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;

        &:disabled {
          background-color: #eeeeee;
          color: rgba(12, 12, 12, 0.3);
          border-color: rgba(118, 118, 118, 0.3);
        }
      }
    }
  }

  .mht-price-list {
    background-color: #fff;
    max-height: 90vh;
    overflow-x: auto;
    overflow-y: auto;

    .mht-plist-row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }

      &.plist-header {
        .plist-row-item {
          .tire-set-item {
            display: flex;
            justify-content: center;
            min-width: 600px;
            width: 600px;
            max-width: 600px;

            &.tire-manufacturer,
            &.tire-cost {
              max-width: 150px;
              min-width: 150px;
            }

            .pdetail-headings {
              background: #000;
              color: #fff;
              display: flex;
              width: 100%;
              justify-content: center;

              div {
                border-right: 1px solid #ccc;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px 0px;
                box-sizing: border-box;
                text-align: center;
                font-size: 12px;
              }
            }
          }
        }
      }

      .plist-row-item {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
      }

      .tire-size {
        flex: 1;
        border-right: 1px solid #ddd;
        max-width: 200px;
        min-width: 200px;
        h3 {
          color: #795548;
          font-size: 22px;
        }
      }

      .tire-manufacturer {
        max-width: 150px;
        min-width: 150px;
      }

      .tire-cost {
        max-width: 150px;
        min-width: 150px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .cost-input-container {
          span.dolar {
            font-weight: bold;
          }
          input {
            max-width: 120px;
          }
        }
      }

      .tire-detail-container {
        flex: 5;
        display: flex;
        flex-direction: row;
        .tire-set-item {
          border-right: 1px solid #ddd;
          flex: 1;
          // background: yellow;
          height: 100%;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;

          &.tire-manufacturer {
            display: flex;
            align-items: center;
          }

          .product-detail-container {
            &.pdetail-headings {
              padding: 0;
            }
            width: 100%;
            box-sizing: border-box;
            display: flex;
            border-bottom: 1px solid #ddd;

            &:last-child {
              border-bottom: none;
            }

            > div {
              width: 66px;
              min-width: 66px;
              max-width: 66px;
              text-align: center;
              border-right: 1px solid #ddd;
              padding: 10px 0;
              font-size: 12px;

              &:last-child {
                border-right: none;

                .label {
                  border-right: 1px solid #ddd;
                }
              }

              .label {
                padding-bottom: 5px;
                border-bottom: 1px solid #ddd;
                background: #eee;
                margin-top: -10px;
                padding-top: 5px;
                font-weight: bold;
              }

              .value {
                padding-top: 12px;
              }
            }

            .product-name {
              min-width: 200px;
              max-width: 200px;
              width: 200px;
              a {
                display: inline-block;
                // padding-left: 10px;
                text-align: center;
                font-size: 13px;
                padding-top: 6px;
                text-decoration: none;
              }
            }

            .tire-cost {
            }

            .installation {
            }

            .cc {
            }
            .total-cost {
            }

            .product-price {
            }

            .profit {
            }

            // .product-detail {
            //   width: 50%;
            //   float: left;
            //   box-sizing: border-box;
            //   &:last-child {
            //     border-left: 1px solid #ccc;
            //     //   padding-left: 10px;
            //   }

            //   @media screen and (max-width: $small) {
            //     width: 100%;
            //   }

            //   .product-detail-item {
            //     padding: 5px 0;
            //     border-bottom: 1px solid #ccc;
            //     display: flex;
            //     .item-lavel {
            //       flex-grow: 1;
            //       p {
            //         padding: 0;
            //         margin: 0;
            //         padding-left: 10px;
            //       }
            //     }
            //     .item-amount {
            //       flex-grow: 1;
            //       align-self: flex-end;
            //       p {
            //         padding: 0;
            //         margin: 0;
            //         display: inline-block;
            //         float: right;
            //         padding-right: 10px;
            //         font-weight: bolder;
            //       }
            //     }

            //     &.profit {
            //       background-color: #795548;
            //       color: #fff;

            //       p {
            //         font-weight: bolder;
            //       }
            //     }
            //   }
            // }
          }
        }

        .brand-items {
          display: flex;
          flex-direction: column;
          width: 100%;

          .brand-item {
            display: flex;
            border-bottom: 1px solid #ccc;
            align-items: stretch;

            .tire-set-item {
              flex-grow: 1;
              align-items: center;
              justify-content: center;
              border-right: 1px solid #ccc;
              // border-left: 1px solid #ccc;
              height: auto;
              width: 600px;
            }
          }
        }
      }

      &.plist-header {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

// sliding pan

.slide-pane {
  display: flex;
  flex-direction: column;
  background: #fff;
  min-width: 100px;
  height: 100%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
  will-change: transform;
}
.slide-pane:focus {
  outline-style: none;
}
.slide-pane_from_right {
  margin-left: auto;
  transform: translateX(100%);
}
.slide-pane_from_right.content-after-open {
  transform: translateX(0%);
}
.slide-pane_from_right.content-before-close {
  transform: translateX(100%);
}
.slide-pane_from_left {
  margin-right: auto;
  transform: translateX(-100%);
}
.slide-pane_from_left.content-after-open {
  transform: translateX(0%);
}
.slide-pane_from_left.content-before-close {
  transform: translateX(-100%);
}
.slide-pane_from_bottom {
  height: 90vh;
  margin-top: 10vh;
  transform: translateY(100%);
}
.slide-pane_from_bottom.content-after-open {
  transform: translateY(0%);
}
.slide-pane_from_bottom.content-before-close {
  transform: translateY(100%);
}
.slide-pane__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.slide-pane__overlay.overlay-after-open {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}
.slide-pane__overlay.overlay-before-close {
  background-color: rgba(0, 0, 0, 0);
}
.slide-pane__header {
  display: flex;
  flex: 0 0 64px;
  align-items: center;
  background: #ebebeb;
  height: 64px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.slide-pane__title-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 32px;
  min-width: 0;
}
.slide-pane .slide-pane__title {
  font-size: 18px;
  font-weight: normal;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding: 0;
}
.slide-pane__close {
  margin-left: 24px;
  padding: 16px;
  opacity: 0.7;
  cursor: pointer;
}
.slide-pane__close svg {
  width: 12px;
  padding: 0;
}
.slide-pane__content {
  position: relative;
  overflow-y: auto;
  padding: 24px 32px;
  flex: 1 1 auto;
}
.slide-pane__subtitle {
  font-size: 12px;
  margin-top: 2px;
}

// ======custom changes ======
.slide-pane__overlay.mht-sliding-pan-overlay {
  z-index: 99999;
  margin-top: 32px;
}
